.question_new_container
  %p.questions_index_title.font-weight-bold 質問の編集
  - @question.errors.full_messages.each do |message|
    .error_msg
      %li= message
  = form_with(model: @question, local: true) do |f|
    %div
      = f.label :title, 'タイトル'
    %div
      = f.text_field :title, class: 'form'
    %div
      = f.label :content, '質問内容'
    %div
      = f.text_area :content, class: 'form'
    %div
      = f.submit '編集を完了する', class: 'mt-3 btn submit_btn question_submit'

