.question_index_container
  %p.questions_index_title.font-weight-bold 質問部屋
  - if @questions.present?
    - @questions.each do |question|
      .questions
        = link_to question_path(id: question.id) do
          .questions_title
            = question.title 
          .questions_content
            = question.content.truncate(100)
        .user_info.question_index_userinfo
          - if user_signed_in?
            - if question.user.id == current_user.id
              = link_to profile_path, data: {"turbolinks" => false}  do
                = image_tag question.user.avatar_image, class: 'post_user_avatar'
                %p.post_username=  question.user.username
            - else
              = render 'commons/user_info', post: question
          - else 
            = render 'commons/user_info', post: question
  - else 
    %p.mt-3  質問がありません

  = paginate @questions
          
       