質問投稿
- @question.errors.full_messages.each do |message|
  %li= message
= form_with(model: @question, local: true) do |f|
  %div
    = f.label :title, 'タイトル'
  %div
    = f.text_field :title, class: 'form'
  %div
    = f.label :content, '質問内容'
  %div
    = f.text_field :content, class: 'form'
  %div
    = f.submit '質問投稿', class: 'mt-3 btn  submit_btn'

