.question_new_container
  %p.post_page_title 質問投稿
  - @question.errors.full_messages.each do |message|
    %li.error_msg= message
  = form_with(model: @question, local: true) do |f|
    %div
      = f.label :title, 'タイトル', class: 'question_new_title'
    %div
      = f.text_field :title, autofocus: true, class: 'form'
    %div
      = f.label :content, '質問内容'
    %div
      = f.text_area :content, class: 'form question_form'
    %div
      = f.submit '質問投稿', class: 'mt-3 btn submit_btn question_submit'

