.container
  %h4 ユーザー情報の編集
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :ユーザーネーム
      %br/
      = f.text_field :username, class: 'form'
    .field
      = f.label :メール
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      = f.label :新しいパスワード
      %br/
      = f.password_field :password, autocomplete: "new-password", class: 'form'
      - if @minimum_password_length
        %em
    .field
      = f.label :新しいパスワード（確認用）
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form'
    .field
      = f.label :現在のパスワード
      %br/
      = f.password_field :current_password, autocomplete: "current-password", class: 'form'
    .actions
      = f.submit "更新", class: 'my-3 btn submit_btn'
  %p
    #{button_to "アカウントの削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "戻る", :back
