.container
  %h4 アカウント作成
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :ユーザーネーム
      %br/
      = f.text_field :username, class: 'form'
    .field
      = f.label :メール
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form'
    .field
      = f.label :パスワード
      %br/
      = f.password_field :password, autocomplete: "new-password", class: 'form'
    .field
      = f.label :パスワード（確認用）
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form'
    .actions
      = f.submit "アカウント作成", class: 'mt-3 btn submit_btn'
  = render "devise/shared/links"
