.response_search.clear
  .response_search_form   
    %p.font-weight-bold 検索ワードで探す
    = form_tag(search_index_path,:method => 'get') do
      = text_field_tag :search, '', class: 'form w-100'
      = submit_tag '検索', :name => nil, class: 'btn submit_btn w-100 mt-2'

.response_area_search
  .area_wrap
    %p.font-weight-bold エリアから探す
    .area_container
      = link_to '東京', prefectures_path(prefecture: '東京都')
      = link_to '神奈川', prefectures_path(prefecture: '神奈川県')
    .area_container
      = link_to '千葉', prefectures_path(prefecture: '千葉県')
      = link_to '埼玉', prefectures_path(prefecture: '埼玉県')
.response_link_background
  .response_link_question
    .link_wrap
      .response_link
        = link_to '質問部屋へ行く', questions_path, data: {"turbolinks" => false}, class: 'btn submit_btn'
      .response_link
        = link_to '人気投稿を見る', populars_path, data: {"turbolinks" => false}, class: 'btn submit_btn'
      - if user_signed_in?
        - if current_page?(controller: 'timelines')
          .response_link
            = link_to 'すべての投稿一覧へ', root_path, data: {"turbolinks" => false}, class: 'btn submit_btn'
        - else
          .response_link
            = link_to 'フォローしているユーザーの投稿', timelines_path, data: {"turbolinks" => false}, class: 'btn submit_btn'