.response_search.clear
  .response_search_form   
    %p.font-weight-bold 検索ワードで探す
    = form_tag(search_index_path,:method => 'get') do
      = text_field_tag :search, '', class: 'form w-100'
      = submit_tag '検索', :name => nil, class: 'btn submit_btn w-100 mt-2'

.response_area_search
  = render 'commons/prefecture'

.response_link_background
  .response_link_question
    .link_wrap
      .response_link
        = link_to '質問部屋へ行く', questions_path, class: 'btn submit_btn'
      .response_link
        = link_to '人気投稿を見る', populars_path, class: 'btn submit_btn'
      - if user_signed_in?
        - if current_page?(controller: 'timelines')
          .response_link
            = link_to '一覧へ', root_path, class: 'btn submit_btn'
        - else
          .response_link
            = link_to 'フォローしているユーザーの投稿', timelines_path, class: 'btn submit_btn'