- visitor = notification.visitor
- visited = notification.visited
- post = notification.post

.user-view.clearfix
  = link_to account_path(visitor) do
    = image_tag visitor.avatar_image, class: 'msg_avatar'
    = visitor.username
  = 'さんが'    

  - case notification.action
    - when "follow" then
      = "あなたをフォローしました"
    - when "like" then
      = link_to 'あなたの投稿', notification.post
      = "にいいねしました"
    - when "comment" then
      - if notification.post.user_id == visited.id
        = link_to "あなたの投稿", notification.post
      - else
        %span
          = link_to post_path(notification.post) do
            = image_tag visitor.avatar_image, class: 'msg_avatar'
            = notification.post.user.username + 'さんの投稿'
      = "にコメントしました"
      %p.text-muted.mb-0
        = Comment.find_by(id: notification.comment_id)&.content
    - when "answer" then
      - if notification.question.user_id == visited.id
        = link_to "あなたの質問", notification.question
      - else
        %span
          = link_to question_path(notification.question) do
            = image_tag visitor.avatar_image, class: 'msg_avatar'
            %strong
              = notification.question.user.username + 'さんの質問'
      = "に回答しました"
      %p.text-muted.mb-0
        = Answer.find_by(id: notification.answer_id)&.content
    - when "dm" then
      - if notification.action=='dm'
        = "あなたに"
        = link_to "ダイレクトメッセージ", room_path(notification.room)
        = "を送りました"
        %p.text-muted.mb-0
          = Message.find_by(id: notification.message_id)&.content

  %span= "(#{time_ago_in_words(notification.created_at)}前)"
  %hr