.header_container.clear
  .header_left
    .header_title
      = link_to image_tag('logo.png'), root_path, class: 'title', id: 'title'

  .header_right
    -if user_signed_in?
      - if request.path.include?("question")
        .new_post_link
          = link_to '質問投稿',new_question_path
        .new_post_link_response
          = link_to '質問投稿',new_question_path, class: 'new_post_response_text'
      - else
        .new_post_link
          = link_to '新規投稿',new_post_path
        .new_post_link_response
          = link_to '新規投稿',new_post_path, class: 'new_post_response_text'
    - else
      .new_post_link
        = link_to 'ログイン',new_user_session_path
      .new_post_link_response
        = link_to 'ログイン',new_user_session_path, class: 'new_post_response_text'
        
    .header_user_icon.dropdwn
      - if user_signed_in?
        = image_tag current_user.avatar_image, class: 'dropdwn_btn' ,id: 'dropdwn_btn'
        .dropdwn_menu
          %ul.dropdwn_list
            %li.dropdwn_item
              = link_to 'プロフィール', profile_path, data: {"turbolinks" => false}
            %li.dropdwn_item 
              = link_to 'いいねした投稿',favorites_path, data: {"turbolinks" => false}
            %li.dropdwn_item 
              - if unchecked_notifications.any?
                .fa-stack
                  = link_to '通知', notifications_path
                %i.fas.fa-circle.notice_circle
              - else 
                = link_to '通知', notifications_path
            %li.dropdwn_item
              - unless current_user.email == "test@example.com"
                = link_to '登録内容変更', edit_user_registration_path
            %li.dropdwn_item
              - if user_signed_in?
                = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete', confirm: 'ログアウトしますか？' }
              - else 
                = link_to 'ログイン', new_user_session_path
      - else 
        = image_tag 'fish.jpeg'