.post_container.clear
  .post_container_left
    - if post.images&.attached?
      = image_tag post.images.first, class: 'image'
  .post_container_right
    .post_title
      = post.title

    %div{:id => "likes_buttons_#{post.id}"}
      = render partial: 'likes/like', locals: { post: post}

    .clear
    .post_prefecture
      = post.prefecture 
    .post_area
      = post.area 
    .post_content.box_read
      = post.content 
    = link_to '詳細', post_path(id: post.id), data: {"turbolinks" => false}, class: 'link_detail'
    .user_info
      = image_tag post.user.avatar_image, class: 'post_user_avatar'
      %p.post_username=  post.user.username

