.container 
  .content_right
    = render 'commons/content_right'
  .content_left
    .font-weight-bold
      = "「 #{@params} 」の検索結果"
    - if @posts.present?
      - @posts.each do |post|
        = render 'commons/posts', post: post
    - else
      %p.mt-3 検索結果がありませんでした
    = paginate @posts