.container 
  .content_right
    = render 'commons/content_right'
  .content_left.font-weight-bold
    = "''#{@params}''の検索結果"
    - @posts.each do |post|
      = render 'commons/post', post: post
    = paginate @posts
    