.response_top_page
  = render 'response/response_top_page'

.container
  .content_right
    = render 'commons/content_right' 

  .content_left
    %p.font-weight-bold.response_post_index_title.post_index_title すべての投稿一覧
    - @posts.each do |post|
      = render 'commons/posts', post: post
    
    = paginate @posts

.response_top_page
  = render 'response/response_tag'