.container
  %p.post_page_title 新規投稿
  %ul
    - @post.errors.full_messages.each do |message|
      .error_msg
        %li= message
  = form_with(model:[@tag,@post], local: true) do |f|
    %div
      = f.label :title, 'タイトル', class: 'new_post_title '
    %div
      = f.text_field :title, autofocus: true, class: 'form'
    %div
      = f.label :image, '画像 ※３枚まで登録できます', class: 'mt-2'
    %div
      = f.file_field :images, multiple: true
    %div 
      = f.label :prefecture, '都道府県', class: 'mt-2'
    %div
      = f.select :prefecture, [['東京', '東京'], ['神奈川','神奈川'],['千葉','千葉'],['埼玉','埼玉'],['北海道', '北海道'],['青森', '青森'],['岩手', '岩手'],['宮城', '宮城'],['秋田', '秋田'],['山形', '山形'],['福島', '福島'],['茨城', '茨城'],['栃木', '栃木'],['群馬', '群馬'],['新潟', '新潟,'],['富山', '富山'],['石川', '石川'],['福井', '福井'],['山梨', '山梨'],['長野', '長野'],['岐阜', '岐阜'],['静岡', '静岡'],['愛知', '愛知'],['奈良', '奈良'],['和歌山', '和歌山'],['鳥取', '鳥取'],['島根', '島根'],['岡山', '岡山'],['広島', '広島'],['山口', '山口'],['徳島', '徳島'],['香川', '香川'],['愛媛', '愛媛'],['高知', '高知'],['福岡', '福岡'],['佐賀', '佐賀'],['長崎', '長崎'],['熊本', '熊本'],['大分', '大分'],['宮崎', '宮崎'],['鹿児島', '鹿児島'],['沖縄', '沖縄']] ,include_blank: '選択して下さい'
    %div
      = f.label :area, '場所', class: 'mt-2'
    %div
      = f.text_field :area, class: 'form'
    %div
      = f.label:説明, class: 'mt-1'
    %div
      = f.text_area :content, class: 'form large_form'
    %div
      = f.label :url, 'URL', class: 'mt-1'
    %div
      = f.text_field :url, class: 'form'
    %div
      = f.label :tag_name, 'タグ', class: 'mt-1'
    %div
      = f.text_field :tag_name, class: 'form tag_form', placeholder: 'タグをカンマ区切りで5つまで入力'
    %div
      = f.submit '登録', class: 'btn submit_btn post_btn mt-3'
