.container
  .post_show_container#post-show{data: {post_id: @post.id}}
    .user_info.post_show_user.clear
      - if user_signed_in?
        - if @post.user.id == current_user.id
          = link_to profile_path, data: {"turbolinks" => false} do
            = image_tag @post.user.avatar_image, class: 'post_user_avatar'
            %p.post_username=  @post.user.username
        - else
          = render 'commons/user_info', post: @post
      - else 
        = render 'commons/user_info', post: @post
    .create_time    
      %i.far.fa-clock
      = l @post.created_at
    .clear
  
    - if user_signed_in?
      .post_show_title
        = @post.title 
    - else 
      .post_show_title.sign_in_status_title
        = @post.title

    %div{class: 'clear show_heart', :id => "likes_buttons_#{@post.id}"}
      = render partial: 'likes/like', locals: { post: @post}
    - if current_user == @user
      .link_container.clear
        = link_to '削除', post_path(@post), data: { method: 'delete', confirm: '本当に削除してよろしいですか？' }
        = link_to '編集/', edit_post_path(@post)
    .clear

    .post_show_iamge
      = render 'post_show_image'

    .post_show_place
      %p.post_place_description 場所
      = @post.prefecture
      %br
      = @post.area
      
    .post_content
      %p.post_content_description 説明
      =  simple_format(@post.content)

    .post_tag
      %p.post_tag_description タグ
      = @tag_list

    .post_url
      %p.post_url_description URL
      = link_to @post.url, @post.url

    %div
      %p.comment_index コメント
      #comments_area
        = render partial: 'comments/index', locals: { comments: @comments }
      - if user_signed_in?
        = render partial: 'comments/form', locals: { comment: @comment, post: @post }
