.post_show_container#post-show{data: {post_id: @post.id}}
  .post_show_title
    = @post.title 

  .post_show_heart.hidden.active-heart
    = image_tag '赤ハート.png'
  .post_show_heart.hidden.inactive-heart
    = image_tag '白ハート.png'

  .clear
  .link_container
    = link_to '編集', edit_post_path(@post)
    = link_to '削除', post_path(@post), data: { method: 'delete', confirm: '本当に削除してよろしいですか？' }
  - if @post.images&.attached?
    - @post.images.each do |image|
      = image_tag image, class: 'show_image'

  .post_show_place
    %p.post_place_description 場所
    = @post.prefecture
    %br
    = @post.area
    
  .post_content
    %p.post_content_description 説明
    = @post.content

  .post_url
    %p.post_url_description URLとか
    = @post.url
  
  %p.comment_index Comment
  .comments-container

  .comment_post_form
    = text_area_tag :comment_content,'', class: 'form aaa'
    %div
      .btn.add_comment_btn.submit_btn
        コメント
= javascript_pack_tag 'post_show'