!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DatespotShareApp
    = favicon_link_tag('favicon.png')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %div.header_container.clear
        .header_left
          .header_title
            = link_to image_tag('ロゴ.png'), root_path, class: 'title'
        .header_right
          .header_user_icon
            - if user_signed_in?
              - if current_user.profile&.avatar&.attached?
                = image_tag current_user.profile.avatar
      
    .main_container
      %p.notice= notice
      %p.alert= alert
      = yield

    
