.container
  .profile_username
    = @user.username
  .account_show_left
    .profile_avatar
      = image_tag @user.avatar_image,class: 'profile_avatar'
    -if user_signed_in?
      = render 'relationships/follow_form', user: @user

  .account_show_right.account
    .followers
      = link_to account_followers_path(@user) do
        %p.follow_count= @user.follower_count
        %p.follower_btn フォロワー
    .followings
      = link_to account_followings_path(@user) do
        %p.follow_count= @user.following_count
        %p.follower_btn フォロー
     
      
  .clear
  .profile_post_container
    %p.mt-3.font-weight-bold #{@user.username}さんの投稿一覧
    - @posts.each do |post|
      = render 'commons/posts', post: post

    = paginate @posts
