.container
  .profile_username.font-weight-bold
    = @user.username
  .profile_avatar
    = image_tag @user.avatar_image,class: 'profile_avatar'
  .follow_btn.submit_btn.btn
    - if current_user&.has_followed?(@user)
      = link_to 'Unfollow',  account_unfollows_path(@user), data: {method: 'post'}
    - else 
      = link_to 'Follow', account_follows_path(@user), data: {method: 'post'}

  %p.mt-3.font-weight-bold #{@user.username}さんの投稿一覧
  .profile_post_container
    - @posts.each do |post|
      = render 'commons/posts', post: post
    
    = paginate @posts