.container
  .profile_username.font-weight-bold
    = @user.username
  = image_tag @user.avatar_image,class: 'profile_avatar'

  %p.mt-3.font-weight-bold #{@user.username}さんの投稿一覧
  .profile_post_container
    - @posts.each do |post|
      = render 'commons/posts', post: post
    
    = paginate @posts